force-app/main/default/flows/jrsl_ul_preference_center.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Choices</name>
        <label>Parse Choices</label>
        <locationX>799</locationX>
        <locationY>811</locationY>
        <actionName>jrsl_UnsubscribeParse</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Did_they_unsubscribe_all</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>selectEmailLists</elementReference>
            </value>
        </inputParameters>
        <nameSegment>jrsl_UnsubscribeParse</nameSegment>
        <outputParameters>
            <assignToReference>wantListTextCollVar</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send an email to the designated contact (in the custom metadata type) to alert for an error.</description>
        <name>Send_Error_Email_Alert</name>
        <label>Send Error Email Alert</label>
        <locationX>1287</locationX>
        <locationY>646</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Preference Center Flow Error Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Update this campaign member</description>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1753</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>wantCollectionToCreateCM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>wantsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addtoHaveUnsubscribedTextCollVar</name>
        <label>addtoHaveUnsubscribedTextCollVar</label>
        <locationX>1627</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>haveUnsubscribedTextCollVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StartingCMsLoop.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartingCMsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>629</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An error occurred when the flow tried to get all campaign records. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_0</name>
        <label>Assign Error Message</label>
        <locationX>1159</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error when flow tried to get all campaign member records for current recipient.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_0_0</name>
        <label>Assign Error Message</label>
        <locationX>759</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An error occurred when the flow launched the &quot;Parse Choices&quot; apex action. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_0_0_0</name>
        <label>Assign Error Message</label>
        <locationX>931</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error at Get Records element for getting campaigns the recipient wants but does not have. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_0_0_0_0</name>
        <label>Assign Error Message</label>
        <locationX>1110</locationX>
        <locationY>987</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error at Update Records element called &quot;haveAndDoNotWant&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_0_0_0_0_0</name>
        <label>Assign Error Message</label>
        <locationX>1914</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error at Update Records element HaveAndWantsNow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_0_0_0_0_0_0</name>
        <label>Assign Error Message</label>
        <locationX>1498</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error at Update Records element CreateNew Campaign Members</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Have List is campaign member records they subscribed to at the start</description>
        <name>AssignToHaveList</name>
        <label>Assign to Have List</label>
        <locationX>1130</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>haveTextVarSingle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignIDSemiColon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>haveListTextCollVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StartingCMsLoop.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartingCMsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>create campaign member for campaigns they want</description>
        <name>CreateCM</name>
        <label>Create Campaign Member</label>
        <locationX>1528</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>newCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>wantsLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCampaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UseLeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>useContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optInVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign unsubscribe all checkbox to the boolean</description>
        <name>unsubAssignment</name>
        <label>unsubAssignment</label>
        <locationX>531</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>unsubscribeAll</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnsubscribeAllCheck</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_Choices</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_they_unsubscribe_all</name>
        <label>Did they unsubscribe all?</label>
        <locationX>775</locationX>
        <locationY>985</locationY>
        <defaultConnector>
            <targetReference>wantAndDoNotHaveCampaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did not unsubscribe all</defaultConnectorLabel>
        <rules>
            <name>Unsubscribe_All_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unsubscribeAll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarkAllRecordsUnsubscribed</targetReference>
            </connector>
            <label>Unsubscribe All</label>
        </rules>
    </decisions>
    <decisions>
        <description>Have they subscribed or unsubscribed from this email?</description>
        <name>OptInOrOut</name>
        <label>Opt in or Out</label>
        <locationX>1441</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>addtoHaveUnsubscribedTextCollVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opted Out</defaultConnectorLabel>
        <rules>
            <name>Opted_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartingCMsLoop.jrsl_ul_Unsubscribe_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToHaveList</targetReference>
            </connector>
            <label>Opted-In</label>
        </rules>
    </decisions>
    <decisions>
        <description>Do they want to quick unsubscribe from all campaigns? if so, skip the screen</description>
        <name>Quick_Unsubscribe</name>
        <label>Quick Unsubscribe</label>
        <locationX>50</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>PrefCenter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>show screen</defaultConnectorLabel>
        <rules>
            <name>quick_unsubscribeoutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnsubscribeAllCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Did_they_unsubscribe_all</targetReference>
            </connector>
            <label>UnsubscribeAll</label>
        </rules>
    </decisions>
    <description>added boolean of quick unsubscribe to be passed in</description>
    <dynamicChoiceSets>
        <name>AllCampsChoiceSet</name>
        <collectionReference>GetAllCampaigns</collectionReference>
        <dataType>String</dataType>
        <displayField>jrsl_Email_List_Name__c</displayField>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>{!UnsubscribeCMDT.jrsl_CampaignType__c} Campaign Type comes from this field on Unsubscribe.</description>
        <name>CampaignType</name>
        <dataType>String</dataType>
        <displayField>jrsl_Email_List_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignTypeText</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>jrsl_Email_List_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>haveCampaignsCollChoiceSet</name>
        <collectionReference>HaveCampaignsRecordCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>jrsl_Email_List_Name__c</displayField>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listBchoiceSet</name>
        <collectionReference>GetAllCampaigns</collectionReference>
        <dataType>String</dataType>
        <displayField>jrsl_Email_List_Name__c</displayField>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>nullvalue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>OurOrganizationFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ourOrganization}),&quot;our organization&quot;,{!ourOrganization})</expression>
    </formulas>
    <formulas>
        <description>Formula resolves to Contact Id if the unsubscribe record is attached to a contact - the original record of the unsubscribe link was a contact.</description>
        <name>useContactId</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!FoundId}, 3)=&quot;003&quot;,{!FoundId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula resolves to Lead Id if the unsubscribe record is attached to a Lead - the original record of the unsubscribe link was a lead.</description>
        <name>UseLeadId</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!FoundId}, 3)=&quot;00Q&quot;,{!FoundId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>18 digit id of the record. The email template only sends the 15 digit id.</description>
        <name>x18DigitID</name>
        <dataType>String</dataType>
        <expression>Casesafeid({!recordId})</expression>
    </formulas>
    <interviewLabel>Preference Center {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Preference Center</label>
    <loops>
        <description>Loop through all the contact&apos;s  campaign member records at their initial stage. to see which are subscribed and which are unsubscribed.</description>
        <name>StartingCMsLoop</name>
        <label>StartingCMsLoop</label>
        <locationX>1057</locationX>
        <locationY>254</locationY>
        <collectionReference>StartingCMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OptInOrOut</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllCampaigns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>wantsLoop</name>
        <label>wantsLoop</label>
        <locationX>1308</locationX>
        <locationY>811</locationY>
        <collectionReference>wantAndDoNotHaveCampaigns</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateCM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>haveAndDoNotWant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the campaign member records for what the recipient wants to receive but does not have.</description>
        <name>createRecords</name>
        <label>create New Campaign Members</label>
        <locationX>1737</locationX>
        <locationY>1062</locationY>
        <faultConnector>
            <targetReference>Assign_Error_Message_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>wantCollectionToCreateCM</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all campaigns of the right type.</description>
        <name>GetAllCampaigns</name>
        <label>GetAllCampaigns</label>
        <locationX>631</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quick_Unsubscribe</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignTypeText</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all of the contact/lead&apos;s campaign member records for the right type of campaign.</description>
        <name>StartingCMs</name>
        <label>StartingCMs</label>
        <locationX>1272</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StartingCMsLoop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <filters>
            <field>jrsl_ul_Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignTypeText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get campaign ids for those they want but do not want</description>
        <name>wantAndDoNotHaveCampaigns</name>
        <label>wantAndDoNotHaveCampaigns</label>
        <locationX>1045</locationX>
        <locationY>819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>wantsLoop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>wantListTextCollVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>haveListTextCollVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>haveUnsubscribedTextCollVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update CM records that they want to unsubscribe from</description>
        <name>haveAndDoNotWant</name>
        <label>haveAndDoNotWant</label>
        <locationX>1269</locationX>
        <locationY>1098</locationY>
        <connector>
            <targetReference>haveAndWantNow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>useContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>jrsl_ul_Unsubscribe_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>wantListTextCollVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UseLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>optOutVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>jrsl_ul_Unsubscribe_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update CM records that they want to subscribe to, that they previously opted out of.</description>
        <name>haveAndWantNow</name>
        <label>haveAndWantsNow</label>
        <locationX>1608</locationX>
        <locationY>908</locationY>
        <connector>
            <targetReference>createRecords</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>useContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>jrsl_ul_Unsubscribe_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>In</operator>
            <value>
                <elementReference>haveUnsubscribedTextCollVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UseLeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>In</operator>
            <value>
                <elementReference>wantListTextCollVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>optInVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>jrsl_ul_Unsubscribe_Date__c</field>
            <value>
                <elementReference>nullvalue</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update all CM records to unsubscribe them.</description>
        <name>MarkAllRecordsUnsubscribed</name>
        <label>UnsubscribeAllCMs</label>
        <locationX>805</locationX>
        <locationY>1207</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>useContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>jrsl_ul_Unsubscribe_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>In</operator>
            <value>
                <elementReference>haveListTextCollVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UseLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>optOutVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>jrsl_ul_Unsubscribe_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>confirmation screen for person to confirm they want to unsubscribe. Update &quot;our organization&quot; in the custom metadata type &quot;Unsubscribe Link.&quot;</description>
        <name>PrefCenter</name>
        <label>Preference Center</label>
        <locationX>631</locationX>
        <locationY>604</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>unsubAssignment</targetReference>
        </connector>
        <fields>
            <name>confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Select the emails from {!OurOrganizationFormula} that you would LIKE TO RECIEVE and click Next.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectEmailLists</name>
            <choiceReferences>AllCampsChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>haveTextVarSingle</elementReference>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blankarea</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UnsubscribeAllCheck</name>
            <dataType>Boolean</dataType>
            <fieldText>Unsubscribe All</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1597</locationX>
        <locationY>98</locationY>
        <connector>
            <targetReference>StartingCMs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>separate out campaign Ids by semi colon. use this list as default value in screen
MUST BE VIEWED AS PLAIN TEXT AND REMOVE HTML</description>
        <name>campaignIDSemiColon</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!StartingCMsLoop.CampaignId};</text>
    </textTemplates>
    <textTemplates>
        <description>Email sent to administrator(s) when the Flow experiences an error.</description>
        <name>errorBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Alert: there was an error in running the Flow Preference Center or jrsl_ul_Preference_Center. This flow is part of the unmanaged package Campaign Preference Center from the AppExchange.  https://wp.me/p9qPLI-eU.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!errorTextVar}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The email passed the following id to the flow: &lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;recordId (the id passed in the URL)= {!recordId}, &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;To modify this error email, open the Flow and edit the text template called &lt;strong&gt;errorBody&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To modify who receives this email, open the custom metadata type called Unsubscribe Link and the record with Label of &quot;Unsubscribe.&quot; Change the value in &lt;strong&gt;Error Email Recipients. &lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the confirmation email that will be sent out after the flow runs if you have said yes you want a confirmation email in the custom metadata type called &quot;Unsubscribe Link.&quot;</description>
        <name>RichTextEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You will no longer receive email from {!OurOrganizationFormula}.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>this value comes from the Custom Metadata type. This is the type of campaigns that will given as options for unsubscribe.</description>
        <name>CampaignTypeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update default below to user who should be alerted when this error occurs.</description>
        <name>ErrorRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Error message to send to error email recipient.</description>
        <name>errorTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error in your custom metadata type of jrsl_ul_Unsubscribe_cmdt. Needs a label of Unsubscribe. </stringValue>
        </value>
    </variables>
    <variables>
        <name>FoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HaveCampaignsRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <description>List of Campaign Ids they initially have CMs for.</description>
        <name>haveListTextCollVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>haveTextCollVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CampaignIds of campaigns they have starting out.</description>
        <name>haveTextVarSingle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>haveUnsubscribedTextCollVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id of the lead record from the unsubscribe link</description>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Test list of campaign IDs for campaigns they had previously unsubscribed from.</description>
        <name>ListBText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>optInVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>optOutVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ourOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>userId incoming from the email link</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>textCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unsubscribeAll</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>list of email lists that the person wants to unsubscribe from</description>
        <name>varEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>create these CM records from what they want but do not have</description>
        <name>wantCollectionToCreateCM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>They want to receive campaigns with these ids. Returned from Apex.</description>
        <name>wantListTextCollVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
