force-app/main/default/flows/jrsl_Campaign_Preference_Center_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Custom_metadata_update</name>
        <label>Custom metadata update</label>
        <locationX>849</locationX>
        <locationY>340</locationY>
        <actionName>jrsl_unsubscribeInVoke</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordPassed</name>
            <value>
                <elementReference>Get_CMDT</elementReference>
            </value>
        </inputParameters>
        <nameSegment>jrsl_unsubscribeInVoke</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>706</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>Get_CMDT.jrsl_ul_Our_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_s_the_name_of_your_organization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.jrsl_ul_Site_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_s_the_domain_of_your_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.jrsl_ul_Campaign_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>whichCampTypes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.jrsl_ul_Error_Email_Recipients__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_should_receive_emails_when_this_process_has_an_error_Enter_a_comma_separated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.jrsl_ul_Enable_Preference_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Turn_On_Campaign_Preference_Center</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.jrsl_ul_Opt_in_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optIn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.jrsl_ul_Opt_Out_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optOutStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.jrsl_ul_Send_Confirmation_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendconfirmEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMDT.jrsl_ul_type_in_Unsubscribe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllowTypeInText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_metadata_update</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>AllowTypeInPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>jrsl_ul_type_in_Unsubscribe__c</picklistField>
        <picklistObject>jrsl_ul_Unsubscribe_Link__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignChoiceSet</name>
        <dataType>String</dataType>
        <displayField>jrsl_Email_List_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>whichCampTypes</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>confirmationemailpicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>jrsl_ul_Send_Confirmation_Email__c</picklistField>
        <picklistObject>jrsl_ul_Unsubscribe_Link__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TurnOnCPCPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>jrsl_ul_Enable_Preference_Center__c</picklistField>
        <picklistObject>jrsl_ul_Unsubscribe_Link__mdt</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Campaign Preference Center Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Preference Center Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CMDT</name>
        <label>Get CMDT</label>
        <locationX>249</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Setup_Unsubscribe_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unsubscribe</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>jrsl_ul_Unsubscribe_Link__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Results</name>
        <label>Display Results</label>
        <locationX>521</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Campaigns</name>
            <choiceReferences>CampaignChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaigns</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Setup_Unsubscribe_Link</name>
        <label>Setup Unsubscribe Link</label>
        <locationX>568</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>What_s_the_domain_of_your_site</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CMDT.jrsl_ul_Site_Domain__c</elementReference>
            </defaultValue>
            <fieldText>What&apos;s the domain of your site? For example, bobcat-231017-980-demo.my.site.com</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sendconfirmEmail</name>
            <choiceReferences>confirmationemailpicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CMDT.jrsl_ul_Send_Confirmation_Email__c</elementReference>
            </defaultValue>
            <fieldText>Do you want to send a confirmation email?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_s_the_name_of_your_organization</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CMDT.jrsl_ul_Our_Organization__c</elementReference>
            </defaultValue>
            <fieldText>What&apos;s the name of your company or organization?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayName</name>
            <fieldText>&lt;p&gt;Your organization name will appear in this sentence &quot;To unsubscribe [xyz email] from all further emails from {!What_s_the_name_of_your_organization} , click NEXT.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Setup_Unsubscribe_Link_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Setup_Unsubscribe_Link_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AllowTypeInText</name>
                    <fieldText>&lt;p&gt;Do you want to allow users to type in their email address and unsubscribe if their record is not found? &lt;/p&gt;&lt;p&gt;Note: This will allow anyone with access to this URL to unsubscribe an email that they know. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Setup_Unsubscribe_Link_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AllowTypeIn</name>
                    <choiceReferences>AllowTypeInPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CMDT.jrsl_ul_type_in_Unsubscribe__c</elementReference>
                    </defaultValue>
                    <fieldText>Allow?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Who_should_receive_emails_when_this_process_has_an_error_Enter_a_comma_separated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$User.Email</elementReference>
            </defaultValue>
            <fieldText>Who should receive emails when this process has an error? Enter a comma separated list.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Setup_Unsubscribe_Link_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Setup_Unsubscribe_Link_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CPCExplan</name>
                    <fieldText>&lt;p&gt;You have two options:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Simple Unsubscribe: Users can unsubscribe from emails only.&lt;/li&gt;&lt;li&gt;Campaign Preference Center: Users can select the email lists they want to belong to &lt;strong&gt;or &lt;/strong&gt;choose to unsubscribe all.&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Setup_Unsubscribe_Link_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Turn_On_Campaign_Preference_Center</name>
                    <choiceReferences>TurnOnCPCPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CMDT.jrsl_ul_Enable_Preference_Center__c</elementReference>
                    </defaultValue>
                    <fieldText>Turn On Campaign Preference Center</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Setup_Unsubscribe_Link_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Setup_Unsubscribe_Link_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CampaignP</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Campaign Preference Center Settings&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>whichCampTypes</name>
                    <choiceReferences>CampaignType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which campaigns should be part of the campaign preference center?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>addAnother</name>
                    <fieldText>&lt;p&gt;If you don&apos;t like any of these options, finish the flow now. Then go to your campaigns and add a new type. Then run this flow again. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Setup_Unsubscribe_Link_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>optOutStatus</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Unsubscribed</stringValue>
                    </defaultValue>
                    <fieldText>When a user opts-out of a campaign give them this Campaign Member Status:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>optIn</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Subscribed</stringValue>
                    </defaultValue>
                    <fieldText>When a user opts-in to a campaign, give them this status:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Turn_On_Campaign_Preference_Center</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>561</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_CMDT</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>cpcBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
