force-app/main/default/flows/jrsl_Unsubscribe_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_of_multiple_records</name>
        <label>Alert of multiple records</label>
        <locationX>1302</locationX>
        <locationY>1171</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Confirmation_Email_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>multiple records found for unsubscribe</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>alertEmailMultipleRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Alert the person that they unsubscribed. Turn this off in the custom metadata type Unsubscribe Link.</description>
        <name>ConfirmationEmail</name>
        <label>ConfirmationEmail</label>
        <locationX>1840</locationX>
        <locationY>1136</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>screenConfirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment1_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CampaignPreferenceConfirmation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unsubscribe Confirmation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Alert the person that they unsubscribed. Turn this off in the custom metadata type Unsubscribe Link.</description>
        <name>ConfirmationEmail_0</name>
        <label>ConfirmationEmail</label>
        <locationX>1734</locationX>
        <locationY>1369</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>screenConfirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment1_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CampaignPreferenceConfirmation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unsubscribe Confirmation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Alert_Email_0</name>
        <label>Send Error Alert Email</label>
        <locationX>1347</locationX>
        <locationY>662</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Something_went_wrong_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_custom_metadata.jrsl_ul_Error_Email_Recipients__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unsubscribe Email Error Alert</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1</name>
        <label>No Record Found</label>
        <locationX>968</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No contact or lead found. Make sure the flow is saved to run in System Context without Sharing - Access All Data </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_went_wrong_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1_0</name>
        <label>No Record Found</label>
        <locationX>1161</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No custom metadata type Unsubscribe found with MasterLabel Unsubscribe.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Something_went_wrong_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1_0_0_0</name>
        <label>Cannot create unsubscribe</label>
        <locationX>1144</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error attempting to create Unsubscribe record. Make sure this flow is saved to run in System Context without Sharing - Access All Data</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Alert_Email_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value to error message that is emailed to the error email recipient.</description>
        <name>ErrorMessageAssignment1_0_0_0_0</name>
        <label>Cannot send confirmation email</label>
        <locationX>1709</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>errorTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error attempting to send the confirmation email.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Alert_Email_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Can we find the unsubscribe custom metadata type?</description>
        <name>CMDT_Record_Found</name>
        <label>CMDT Record Found</label>
        <locationX>981</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Contact_or_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CMDT Found</defaultConnectorLabel>
        <rules>
            <name>CMDT_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Something_went_wrong_0_0_0_0</targetReference>
            </connector>
            <label>CMDT not Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was the original email with an unsubscribe link sent from a contact or a lead?</description>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead</label>
        <locationX>930</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Blank_Values_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Found</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preference_Center_or_Simple_Unsubscribe</name>
        <label>Preference Center or Simple Unsubscribe</label>
        <locationX>451</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Are_you_sure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Simple Unsubscribe</defaultConnectorLabel>
        <rules>
            <name>Preference_Center_and_multiple_records_found</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata.jrsl_ul_Enable_Preference_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfLeads</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numberOfContacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Preference Center and multiple records found</label>
        </rules>
        <rules>
            <name>Preference_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata.jrsl_ul_Enable_Preference_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Preference_Center</targetReference>
            </connector>
            <label>Preference Center</label>
        </rules>
    </decisions>
    <decisions>
        <description>The custom metadata type stores the yes/no answer to whether or not you want an email sent to confirm that the person unsubscribed.</description>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>1508</locationX>
        <locationY>1025</locationY>
        <defaultConnector>
            <targetReference>screenConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, don&apos;t send email</defaultConnectorLabel>
        <rules>
            <name>Yes_send_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata.jrsl_ul_Send_Confirmation_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationEmail</targetReference>
            </connector>
            <label>Yes, send email</label>
        </rules>
        <rules>
            <name>More_than_1_contact_or_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalrecordsUnsubscribed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenConfirmation</targetReference>
            </connector>
            <label>More than 1 contact or Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>The custom metadata type stores the yes/no answer to whether or not you want an email sent to confirm that the person unsubscribed.</description>
        <name>Send_Confirmation_Email_0</name>
        <label>Send Confirmation Email</label>
        <locationX>1358</locationX>
        <locationY>1336</locationY>
        <defaultConnector>
            <targetReference>screenConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, don&apos;t send email</defaultConnectorLabel>
        <rules>
            <name>Yes_send_email_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata.jrsl_ul_Send_Confirmation_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationEmail_0</targetReference>
            </connector>
            <label>Yes, send email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did they use the preference center to unsubscribe All. If they didn&apos;t, is there more than 1 record that needs to have campaigns updated? or is it just 1 record</description>
        <name>UnsubscribeAll_From_Pref_Center</name>
        <label>UnsubscribeAll From Pref Center</label>
        <locationX>918</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Send_Confirmation_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One record, not unsubscribe all</defaultConnectorLabel>
        <rules>
            <name>UnsubscribeAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unsubscribeAllBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Unsubscribe_Record</targetReference>
            </connector>
            <label>Unsubscribe All</label>
        </rules>
        <rules>
            <name>moreThan1Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalrecordsUnsubscribed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_of_multiple_records</targetReference>
            </connector>
            <label>More than 1 record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a record found that is either a lead or a contact? If so proceed to the next screen. If not, launch a subflow in which the recipient can enter their email address.</description>
        <name>Was_a_Record_Found</name>
        <label>Was a Record Found</label>
        <locationX>225</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>ErrorMessageAssignment1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No record found, no type in</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Found1st</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preference_Center_or_Simple_Unsubscribe</targetReference>
            </connector>
            <label>RecordFound</label>
        </rules>
        <rules>
            <name>AllowTypeIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_custom_metadata.jrsl_ul_type_in_Unsubscribe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_Values_Flow</targetReference>
            </connector>
            <label>No record found. Allow Type-In</label>
        </rules>
    </decisions>
    <description>added a confirmation screen here.</description>
    <environments>Default</environments>
    <formulas>
        <description>the formula looks to see if the custom metadata type &quot;Unsubscribe Link&quot; has an alternative to &quot;our organization.&quot; If it does, then use that, otherwise use &quot;our organization.&quot; This is used on the &quot;are you sure screen&quot; and the confirmation email.</description>
        <name>OurOrganizationFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_custom_metadata.jrsl_ul_Our_Organization__c}),&quot;our organization&quot;,{!Get_custom_metadata.jrsl_ul_Our_Organization__c})</expression>
    </formulas>
    <formulas>
        <description>get the total number of records that had this email address and unsubscribed.</description>
        <name>totalrecordsUnsubscribed</name>
        <dataType>Number</dataType>
        <expression>{!getCListSize}+{!lListsize}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Formula resolves to Contact Id if the unsubscribe record is attached to a contact - the original record of the unsubscribe link was a contact.</description>
        <name>useContactId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!FoundId},&quot;003&quot;),{!FoundId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula resolves to Lead Id if the unsubscribe record is attached to a Lead - the original record of the unsubscribe link was a lead.</description>
        <name>UseLeadId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!FoundId},&quot;00Q&quot;),{!FoundId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>18 digit id of the record. The email template only sends the 15 digit id.</description>
        <name>x18DigitID</name>
        <dataType>String</dataType>
        <expression>Casesafeid({!varRecId})</expression>
    </formulas>
    <interviewLabel>Unsubscribe Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unsubscribe Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Unsubscribe record which stores details of this transaction.</description>
        <name>Create_Unsubscribe_Record</name>
        <label>Create Unsubscribe Record</label>
        <locationX>982</locationX>
        <locationY>1022</locationY>
        <assignRecordIdToReference>UnsubscribeId.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Unsubscribe_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment1_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>jrsl_ul_Contact__c</field>
            <value>
                <elementReference>useContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>jrsl_ul_Lead__c</field>
            <value>
                <elementReference>UseLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>jrsl_ul_Status__c</field>
            <value>
                <stringValue>Unsubscribed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>jrsl_ul_Unsubscribe_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <object>jrsl_ul_Unsubscribe__c</object>
    </recordCreates>
    <recordLookups>
        <description>Look for a contact record with ID and email address from the URL of the unsubscribe link.</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>498</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment1</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Unsubscribe Link custom metadata type. This object stores the name of the organization and a list of email addresses that should be alerted of errors in the flow.</description>
        <name>Get_custom_metadata</name>
        <label>Get custom metadata</label>
        <locationX>851</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CMDT_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Something_went_wrong_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unsubscribe</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>jrsl_ul_Unsubscribe_Link__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Look for a lead record with ID and email address from the URL of the unsubscribe link.</description>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>233</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment1</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>confirmation screen for person to confirm they want to unsubscribe. Update &quot;our organization&quot; in the custom metadata type &quot;Unsubscribe Link.&quot;</description>
        <name>Are_you_sure</name>
        <label>Are you sure</label>
        <locationX>867</locationX>
        <locationY>824</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Unsubscribe_Record</targetReference>
        </connector>
        <fields>
            <name>confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 18px;&quot;&gt;To unsubscribe {!Email} from all further emails from {!OurOrganizationFormula}, click NEXT.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenConfirmation</name>
        <label>screenConfirmation</label>
        <locationX>1905</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmationScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: verdana; font-size: 18px;&quot;&gt;Thank you for updating your preferences.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Generic error message</description>
        <name>Something_went_wrong_0_0_0</name>
        <label>Generic Error Message</label>
        <locationX>1506</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>wentwrong_0_0_0</name>
            <fieldText>&lt;p&gt;Sorry, but we were not able to unsubscribe you at this time, but we have been alerted about the problem.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Something_went_wrong_0_0_0_0</name>
        <label>No CMDT Found</label>
        <locationX>1193</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ErrorMessageAssignment1_0</targetReference>
        </connector>
        <fields>
            <name>wentwrong_0_0_0_0</name>
            <fieldText>&lt;p&gt;Sorry, but we were not able to unsubscribe you at this time, but we have been alerted about the problem.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;Error Message: No custom metadata type of Unsubscribe Link with MasterLabel of &quot;Unsubscribe&quot; found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>684</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_custom_metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Blank_Values_Flow</name>
        <label>Blank Values Flow</label>
        <locationX>194</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Preference_Center_or_Simple_Unsubscribe</targetReference>
        </connector>
        <flowName>jrsl_ul_recordIdBlankFlow</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorRecipient</name>
            <value>
                <elementReference>Get_custom_metadata.jrsl_ul_Error_Email_Recipients__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <name>Email</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundId</assignToReference>
            <name>FoundId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Launch the screen flow for the preference center if that option was selected in the custom metadata type Unsubscribe Link.</description>
        <name>Campaign_Preference_Center</name>
        <label>Campaign Preference Center</label>
        <locationX>487</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>UnsubscribeAll_From_Pref_Center</targetReference>
        </connector>
        <flowName>jrsl_ul_preference_center</flowName>
        <inputAssignments>
            <name>CampaignTypeText</name>
            <value>
                <elementReference>Get_custom_metadata.jrsl_ul_Campaign_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>useContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorRecipient</name>
            <value>
                <elementReference>Get_custom_metadata.jrsl_ul_Error_Email_Recipients__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FoundId</name>
            <value>
                <elementReference>FoundId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LeadID</name>
            <value>
                <elementReference>UseLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>optInVar</name>
            <value>
                <elementReference>Get_custom_metadata.jrsl_ul_Opt_in_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>optOutVar</name>
            <value>
                <elementReference>Get_custom_metadata.jrsl_ul_Opt_Out_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ourOrganization</name>
            <value>
                <elementReference>OurOrganizationFormula</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>unsubscribeAllBoolean</assignToReference>
            <name>unsubscribeAll</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Launch this additional flow to find all contacts who have this email address and mark them as email opt out.</description>
        <name>Unsubscribe_Contacts</name>
        <label>Unsubscribe Contacts</label>
        <locationX>1106</locationX>
        <locationY>1022</locationY>
        <connector>
            <targetReference>Unsubscribe_Leads</targetReference>
        </connector>
        <flowName>jrsl_ul_Unsubscribe_Contacts</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorRecipient</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UnsubscribeRecord</name>
            <value>
                <elementReference>UnsubscribeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>getCListSize</assignToReference>
            <name>getCListSize</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Part of the unmanaged packed Unsubscribe Link from Salesforce Labs and loops through all leads with a particular email address to mark them as email opt out. This flow is launched by the flow Unsubscribe Link.</description>
        <name>Unsubscribe_Leads</name>
        <label>Unsubscribe Leads</label>
        <locationX>1269</locationX>
        <locationY>932</locationY>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
        <flowName>jrsl_ul_Unsubscribe_Leads</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorRecipient</name>
            <value>
                <elementReference>ErrorRecipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UnsubscribeRecord</name>
            <value>
                <elementReference>UnsubscribeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>lListsize</assignToReference>
            <name>lListSize</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>alertEmailMultipleRecords</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There were more than one records found for the email address &lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Email}&lt;/strong&gt;. The Campaign Preference Center package from AppExchange did not update the campaign preferences for all of them - only the oldest created record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;About this email: It comes from the flow Unsubscribe Link. To turn it off, remove the Action: Alert of Multiple Records. &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the confirmation email that will be sent out after the flow runs if you have said yes you want a confirmation email in the custom metadata type called &quot;Unsubscribe Link.&quot; This email is for people who updated their campaign preferences.</description>
        <name>CampaignPreferenceConfirmation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for updating your email preferences with {!OurOrganizationFormula}.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email sent to administrator(s) when the Flow experiences an error.</description>
        <name>errorBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Alert: there was an error in running the Flow Unsubscribe Link Record Only or Unsubscribe_Link_IdOnly Record Only. This flow is a modified version of the unmanaged package Unsubscribe Link from the AppExchange.  https://wp.me/p9qPLI-eU.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!errorTextVar}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Here are the variables that were input from the link in the email. &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;recordId (the id passed in the URL)= {!varRecId}. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;To modify this error email, open the Flow and edit the text template called &lt;strong&gt;errorBody&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To modify who receives this email, open the custom metadata type called Unsubscribe Link and the record with Label of &quot;Unsubscribe.&quot; Change the value in &lt;strong&gt;Error Email Recipients. &lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>count1 if the record has already been through this part of the flow</description>
        <name>countVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update default below to user who should be alerted when this error occurs.</description>
        <name>ErrorRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Error message to send to error email recipient.</description>
        <name>errorTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error in your custom metadata type of jrsl_ul_Unsubscribe_cmdt. Needs a label of Unsubscribe. </stringValue>
        </value>
    </variables>
    <variables>
        <name>FoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getCListSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inputVariables</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id of the lead record from the unsubscribe link</description>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Lead list size</description>
        <name>lListsize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>collection of records updated in the process</description>
        <name>RecordsUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>redirect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>redirect</stringValue>
        </value>
    </variables>
    <variables>
        <name>unsubscribeAllBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unsubscribe record variable to send to subflows.</description>
        <name>UnsubscribeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>jrsl_ul_Unsubscribe__c</objectType>
    </variables>
    <variables>
        <description>custom metadata type record &quot;Unsubscribe Link&quot;</description>
        <name>varOurOrganization</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>jrsl_ul_Unsubscribe_Link__mdt</objectType>
    </variables>
    <variables>
        <description>userId incoming from the email link</description>
        <name>varRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
